<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">
    <div>
        <a href="/">뒤로</a>
        <p></p>
        <form action="/manage/" method="post">
            <div class="form-group">
                <select name="searchType">
                    <option value="">조건선택</option>
                    <option value="condition_id">사번</option>
                    <option value="condition_name">이름</option>
                    <option value="condition_money">잔여 운영비</option>
                </select>
                <input type="text" id="condition" name="condition" placeholder="검색 조건을 입력하세요">
                <button type="submit">검색</button>
            </div>
        </form>
        <p></p>

        <form action="/manage/allocation" method="post">
            <div class="form-group">
                <input type="text" id="amount" name="amount" placeholder="할당될 총액을 입력하세요" required>
                <button type="submit">할당</button>
            </div>
        </form>
        <p></p>

        <form action="/manage/spend" method="post">
            <div class="form-group">
                <input type="text" id="spend_Name" name="spendName" placeholder="이름 예) 김세진,김민우" required>
                <input type="text" id="spend_Place" name="spendPlace" placeholder="사용 장소" required>
                <input type="text" id="spend_Amount" name="spendAmount" placeholder="지출 총액" required>
                <button type="submit">지출</button>
            </div>
        </form>
        <p></p>

        <table border="1">
            <thead>
            <tr>
                <th width="100px">사번</th>
                <th width="100px">이름</th>
                <th>총 운영비</th>
                <th>사용한 운영비</th>
                <th>사용 가능한 운영비</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${list}">
                <td th:text="${item.memberDTO.id}"></td>
                <td th:text="${item.memberDTO.name}"></td>
                <td th:text="${item.slipDTO.total}"></td>
                <td th:text="${item.slipDTO.used}"></td>
                <td th:text="${item.slipDTO.total - item.slipDTO.used}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>