<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">
    <div>
        <a href="/">뒤로</a>
        <p></p>

        <table border="1">
            <thead>
            <tr>
                <th>팀원</th>
                <th>인원</th>
                <th>장소</th>
                <th>사용한 운영비</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${list}">
                <td th:text="${item.people}"></td>
                <td th:text="${item.count}"></td>
                <td th:text="${item.place}"></td>
                <td th:text="${item.expense}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>